body{
    background-color: #bec2c6 !important;
}
section{
    display: inline-block;
    margin: 0rem 42rem;
    font-size: large;
    border-radius: 0.5rem;
}
#main{
    margin: 1rem 7%;
}
h1{
    color: white;
}
footer{
    font-size: 1.2rem;
}
